<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/dependencies.ejs'); %>
    <title>Inicio</title>
</head>
<body class="bg-zinc-800">

    <!-- Navbar superior -->
    <%- include('../partials/navbar.ejs'); %>
    
    <!-- Sección de Introducción -->
    <div class="flex flex-col w-full col-span-6" style="height: 85vh;">
        <div class="flex-grow bg-zinc-500 mx-20 my-10 rounded-xl p-5">
            <div>
                <h2 class="font-bold text-3xl mb-4">Bienvenido a Nuestro Marketplace</h2>
                <p class="mb-4">Descubre una amplia variedad de productos y encuentra exactamente lo que necesitas en nuestro diverso y dinámico marketplace.</p>
                <h3 class="font-bold text-2xl mb-3">Cómo usar la plataforma:</h3>
                <ul class="list-disc list-inside mb-6">
                    <li>Navega por las diferentes categorías para encontrar productos.</li>
                    <li>Agrega productos a tu carrito y realiza tus compras de manera segura y eficiente.</li>
                    <li>Contacta con vendedores para resolver cualquier duda.</li>
                    <li>Regístrate y accede a ofertas exclusivas.</li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>
