<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/dependencies.ejs'); %>
    <title>Insumos</title>
</head>
<body class="bg-zinc-800">

    <div class="grid grid-cols-7">
        <!-- Menú lateral izquierdo -->
        <div class="h-screen bg-zinc-500 rounded-tr rounded-br">
            <h1 class="text-white text-center my-5 font-bold text-2xl"> Menú </h1>
        </div>
        
        <!-- El resto -->
        <div class="flex flex-col h-screen w-full col-span-6">

            <!-- Título -->
            <div class="mx-20 mt-10">
                <h1 class="text-white font-bold text-4xl">Insumos</h1>
            </div>
            
            <!-- La tabla -->
            <div class="flex-grow bg-zinc-500 mx-20 my-10 rounded-xl">
                <div class="">
                    <div class="flex-grow bg-zinc-500 mx-3 my-10 rounded-xl">
                        <div class="m-5 rounded-t-xl bg-white">
                            <!-- Encabezado de la tabla -->
                            <div class="grid grid-cols-4 gap-4 p-5 border-b">
                                <div class="font-bold text-lg">#ID</div>
                                <div class="font-bold text-lg">Nombre item</div>
                                <div class="font-bold text-lg">Precio</div>
                                <div class="font-bold text-lg">Stock</div>
                            </div>
                            
                            <!-- Habria que iterar este div! -->
                            <div> 
                                <!-- Filas de la tabla -->
                                <div class="grid grid-cols-4 gap-4 p-5">
                                    <div>Item 1</div>
                                    <div>Item 2</div>
                                    <div>Item 3</div>
                                    <div>Item 4</div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>