<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/dependencies.ejs'); %>
    <title>Iniciar Sesión</title>
</head>
<body class="bg-zinc-800">

    <!-- Navbar superior -->
    <%- include('../partials/navbar.ejs'); %>
    
    <div class="flex justify-center items-center" style="height: 85vh;">
    <!-- Contenedor del formulario -->
    <div id="formularioLogin" class="w-full max-w-xs">
        <form class="bg-zinc-500 shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label class="block text-white text-sm font-bold mb-2" for="email">
                    Correo Electrónico
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Correo Electrónico">
            </div>
            <div class="mb-6">
                <label class="block text-white text-sm font-bold mb-2" for="password">
                    Contraseña
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="**********">
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Iniciar Sesión
                </button>
            </div>
        </form>
    </div>
    </div>

    <script src="/js/login.js"></script>
</body>
</html>
