<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/dependencies.ejs'); %>
    <title>Marketplace</title>
</head>
<body class="bg-zinc-800">

    <!-- Navbar superior -->
    <%- include('../partials/navbar.ejs'); %>

        
        <!-- El resto -->
        <div class="flex flex-col w-full col-span-6" style="height: 85vh;">

            <!-- Título -->
            <div class="mx-20 mt-10">
                <h1 class="text-white font-bold text-4xl"> Marketplace </h1>
            </div>
            
            <div class="flex-grow bg-zinc-500 mx-20 my-10 rounded-xl p-5">
                <!-- Contenedor para los productos -->
                <div id="contenedorProductos" class="w-full my-3 rounded-xl flex flex-wrap gap-4">
                    <!-- Los productos se cargarán aquí dinámicamente -->
                </div>
            </div>

        </div>
        <script src="/js/marketplace.js"></script>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetch('http://localhost:8080/api/obtenerproductos')
            .then(response => response.json())
            .then(data => {
                const contenedor = document.getElementById('contenedorProductos');
                data.productos.forEach(producto => {
                    const productoDiv = document.createElement('div');
                    productoDiv.innerHTML = `
                        <div class="relative w-56 h-56 cursor-pointer" onclick="showPurchaseOptions(this)">
                        <img src="https://via.placeholder.com/350" class="rounded-xl w-full h-full object-cover" alt="${producto.nombre}">
                        <div class="absolute bottom-0 bg-blue-500 text-white py-2 px-4 rounded-bl-xl rounded-br-xl w-full">
                            <p class="text-center">${producto.nombre}</p>
                        </div>
                        </div>
                    `;
                    // Asignar el evento onclick al div del producto
                    productoDiv.onclick = () => showPurchaseOptions(producto);

                    contenedor.appendChild(productoDiv);
                });
            })
            .catch(error => console.error('Error al cargar productos:', error));
    });
</script>
