<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/dependencies.ejs'); %>
    <title>Registrarse</title>
</head>
<body class="bg-zinc-800">

    <!-- Navbar superior -->
    <%- include('../partials/navbar.ejs'); %>
    
    <div class="flex justify-center items-center" style="height: 85vh;">
        <!-- Contenedor del formulario de registro -->
        <div class="w-full max-w-xs">
            <form id="formularioRegistro" class="bg-zinc-500 shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <div class="mb-4">
                    <label class="block text-white text-sm font-bold mb-2" for="username">
                        Nombre de Usuario
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Nombre de Usuario">
                </div>
                <div class="mb-4">
                    <label class="block text-white text-sm font-bold mb-2" for="correo">
                        Correo Electrónico
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="correo" type="email" placeholder="Correo Electrónico">
                </div>
                <div class="mb-4">
                    <label class="block text-white text-sm font-bold mb-2" for="password">
                        Contraseña
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="Contraseña">
                </div>
                <div class="mb-6">
                    <label class="block text-white text-sm font-bold mb-2" for="password-confirm">
                        Confirmar Contraseña
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password-confirm" type="password" placeholder="Confirmar Contraseña">
                </div>
                <div class="flex items-center justify-between">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Registrarse
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/register.js"></script>
</body>
</html>
