<div class="text-right my-2 mx-10 text-white">
    <% if (typeof loggedIn !== 'undefined' && loggedIn) {%>
        <p> Hola! <%= username %> </p>
        <a href="/logout">Cerrar sesion</a>
    <% } else { %>
        <p> Para comprar recuerda iniciar sesion.
    <% } %>
</div>