<!-- Navbar superior -->
<div class="my-5 mx-20 bg-zinc-500 rounded-xl shadow-lg">
    <nav class="grid grid-cols-5 items-center justify-items-center py-3">
        <a href="/" class="text-white text-xl">Inicio</a>
        <a href="/marketplace" class="text-white text-xl">Marketplace</a>
        <a href="/carrito" class="text-white text-xl">Compras</a>
        <a href="/login" class="text-white text-xl">Iniciar Sesión</a>
        <a href="/register" class="text-white text-xl">Registrarse</a>
    </nav>
</div>
<%- include('./logged_in.ejs'); %>
